# Python
__pycache__/
*.pyc

# Data & models
data/
models/

# Virtual env
venv/
.env

# OS
.DS_Store
models/
data/*.npy
__pycache__/
*.pyc
venv/
node_modules/
__pycache__/
*.pyc
data/
*.npymodels/transformer/checkpoint-*/
